imgProfileAccountDetailsEnabled RCDATA "images\ProfileAccountDetailsEnabled.png"
imgProfileAccountDetailsSelected RCDATA "images\ProfileAccountDetailsSelected.png"
imgProfileConnectionEnabled RCDATA "images\ProfileConnectionEnabled.png"
imgProfileConnectionSelected RCDATA "images\ProfileConnectionSelected.png"
imgProfileProxyEnabled RCDATA "images\ProfileProxyEnabled.png"
imgProfileProxySelected RCDATA "images\ProfileProxySelected.png"
imgProfileHTTPPollingEnabled RCDATA "images\ProfileHTTPPollingEnabled.png"
imgProfileHTTPPollingSelected RCDATA "images\ProfileHTTPPollingSelected.png"
imgProfileAdvancedEnabled RCDATA "images\ProfileAdvancedEnabled.png"
imgProfileAdvancedSelected RCDATA "images\ProfileAdvancedSelected.png"
