imgProfileAccountDetailsEnabled RCDATA "login\ProfileAccountDetailsEnabled.png"
imgProfileAccountDetailsSelected RCDATA "login\ProfileAccountDetailsSelected.png"
imgProfileConnectionEnabled RCDATA "login\ProfileConnectionEnabled.png"
imgProfileConnectionSelected RCDATA "login\ProfileConnectionSelected.png"
imgProfileProxyEnabled RCDATA "login\ProfileProxyEnabled.png"
imgProfileProxySelected RCDATA "login\ProfileProxySelected.png"
imgProfileHTTPPollingEnabled RCDATA "login\ProfileHTTPPollingEnabled.png"
imgProfileHTTPPollingSelected RCDATA "login\ProfileHTTPPollingSelected.png"
imgProfileAdvancedEnabled RCDATA "login\ProfileAdvancedEnabled.png"
imgProfileAdvancedSelected RCDATA "login\ProfileAdvancedSelected.png"
