body {
    font-family: Arial Unicode MS, Verdana;
    font-size: 9pt;
    background: #eee;
    margin: 0pt;
    overflow: hidden;
}

.ts {
    color:gray;
    white-space: nowrap;
    padding-right: 3;
}

.me {
    color: blue;
    white-space: nowrap;
    padding-right: 3;
}

.other {
    color:red;
    white-space: nowrap;
    padding-right: 3;
}

.line {
   text-indent: -20;
   margin-left: 25;
   padding-top: 3;
}

.msg {
    color:black;
}

.svr {color:green}
.alert {color:blue}
.action {color:purple}
.pres {color:gray}

#content {
  height: 100%;
  overflow: auto;
}

#splash {
    z-index: -1;
    position: absolute; 
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family:Arial Unicode MS;
    font-size: 24pt;
    font-weight: bold;
    color: #ddd;
}
