body {
    font-family:Arial Unicode MS;
    background: #eee;
    margin: 0pt;
    overflow: hidden;
}
.ts {
    color:gray;
}
.me {
    color: blue;
}
.other {color:red}
.msg {
    color:black;
}
.svr {color:green}
.alert {color:blue}
.action {color:purple}
.pres {color:gray}
#content {
  height: 100%;
  overflow: auto;    
}
#splash {
    z-index: -1;
    position: absolute; 
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family:Arial Unicode MS;
    font-size: 24pt;
    font-weight: bold;
    color: #ddd;
}
